.profileContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.profileTitle {
  text-align: center;
  margin-bottom: 30px;
  color: var(--ifm-color-primary);
}

.profileInfo p, .profileInfo h3, .profileInfo li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.profileInfo strong {
  color: var(--ifm-color-primary-dark);
}

.profileInfo ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

.profileInfo li {
  margin-bottom: 5px;
}

.errorMessage {
  color: var(--ifm-color-danger);
  text-align: center;
  margin-top: 20px;
}
